    .box-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:25px;
        .box {
            width: 25%;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            padding: 25px;
            background-color: var(--color-white);
            .box-text{
                display: flex;
                flex-direction: column;
                span {
                    color: #666666;
                }
                span:last-child{
                    color: var(--color-primary);
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }

    .chart-box {
        border-radius: 10px;
        background-color: var(--color-white);
        .title{
            padding: 25px;
            font-size: 20px;
            font-weight: bold;
            color: var(--color-primary);
        }
        .chart {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            padding-bottom: 25px;
        
        }
    }

.top-rating-table{
    border-radius: 10px;
    padding-bottom: 50px;
    background-color: var(--color-white);
    .title{
        padding: 25px;
        font-size: 20px;
        font-weight: bold;
        color: var(--color-primary);
    }
}

@media (max-width: 768px) {
    .box-container {
        flex-direction: column;
        .box {
            width: 90%;
        }
    }   
}

@media (max-width: 480px) {
    .box-container {
        .box {
            width: 83%;
        }
    }
}

