@import '../../styles/globalStyle.scss';

    .box-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:25px;
        .box {
            width: 25%;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            padding: 25px;
            background-color: $white-color;
            .box-text{
                display: flex;
                flex-direction: column;
                span {
                    color: #666666;
                }
                span:last-child{
                    color: $primary-color;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }

    .chart-box {
        width: 100%;
        height: auto;
        margin: 25px 0;
        border-radius: 10px;
        background-color: $white-color;
        .title{
            padding: 25px;
            font-size: 20px;
            font-weight: bold;
            color: $primary-color;
        }
        .chart {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            padding-bottom: 25px;
        
        }
    }

.top-rating-table{
    width: 100%;
    height: auto;
    margin: 25px 0;
    border-radius: 10px;
    padding-bottom: 50px;
    background-color: $white-color;
    .title{
        padding: 25px;
        font-size: 20px;
        font-weight: bold;
        color: $primary-color;
    }
}

