.product-detail {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 0;
  margin: 0px 25px 25px;
  gap: 25px;
  padding: 25px;
  background-color: var(--color-white);
  border-radius: 10px;
}

.product-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .img-slider {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  .img-slider>div {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    //background: #f5f5f5;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-height: 150px;
    aspect-ratio: 1/1;
    overflow: hidden;
  }

  .img-slider img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.product-menu{
  position: relative;
}

.product-menu-items, .product-menu-footer {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:last-child {
      border-bottom: none;
    }
    &.active {
      background-color: var(--primary100-color);
    }
    > div > div {
      display: flex;
      flex-direction: column;
    }
  }
}

.product-menu-footer{
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}

.product-info-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  > div:first-child {
    color: #666;
    
  }
}

.product-details-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
  > div {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  >div > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 7px;
    flex: 1;
    > div:first-child {
      color: #666;
    }
  }
}

@media (max-width: 768px) {
  .product-detail {
    grid-template-columns: 1fr;
  }
  .product-content {
    .img-slider {
      flex-direction: column;
    }
  }
  .product-menu-footer{
    position: relative;
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .product-details-section {
    > div {
    flex-direction: column;
    gap:10px;
    }
  }
}