.table-container {
    width: 100%;
    min-height: 500px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 50px;
    background-color: var(--white-color);
    .price{
        color: var(--accent);
    }
    .title {
        font-weight: bold;
    }
}