.table-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 50px;
    background-color: var(--white-color);
    .table-toolbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //padding: 0 25px;
        .table-toolbar-left{
            display: flex;
            flex-direction: column;
            padding: 25px;
        }
        .table-toolbar-right {
            display: flex;
            flex-direction: row;
            padding: 25px;
            gap: 10px;
        }
    }
    .price{
        color: var(--accent);
    }
    .title {
        font-weight: bold;
    }
}

.filter-container {
    min-height: 65px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 25px;
    background-color: var(--white-color);

    > div {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .filter-container {
        width: 100% ;
        > div {
            flex-direction: column;
        }
        > div > div {
            width: 100%;
        }
    }
    .table-container {
        .table-toolbar{
            flex-direction: column;
            gap: 15px;
            width: 100%;
           
           
        }
    }
}

@media (max-width: 480px) {
    .filter-container {
        padding: 15px;
        width: 100%;
        
    }
    .table-container {
        padding: 15px;
        .table-toolbar{
            padding: 0;
             .table-toolbar-left{
                padding: 0;
            }
             .table-toolbar-right {
                padding: 0;
                padding-bottom: 15px;
                flex-direction: column;
            }
        }
    }
}