@import '../globalStyle.scss';

.sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;
    padding: 25px 0 0;
    width: 207px;
    transition: width 0.5s ease;

    &.collapsed {
        width: 75px;
    }

    .logo {
        width: 75px;
        transition: width 0.5s ease;

        &.collapsed {
            width: 50px;
        }
    }

    .menu {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 35px);

        a {
            text-decoration: none;
            padding: 0;
        }

        a.active {
            background-color: $color-primary-medium;
        }

        .navItem {
            width: 100%;
            height: 41px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $color-white;
            position: relative;

            .icon {
                color: $color-white;
                position: absolute;
                top: 8px;
                left: 8px;
                z-index: 9;
            }

            .text {
                opacity: 1;
                visibility: visible;
                margin-left: 50px;
                transition: opacity 0.5s ease, visibility 0.5s ease;

                &.collapsed {
                    opacity: 0;
                    visibility: hidden;
                    width: 0;
                    margin: 0;
                    padding: 0;
                }

            }
        }
    }
}
