.supportNav{
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: var(--white-color);
        a {
            color: var(--accent);
            font-size: 19px;
            font-weight: 600;
            text-decoration: none;
            padding:25px 50px;
            border: 3px solid var(--accent);
            border-radius: 10px;
            &:hover {
                background-color: var(--neutral-secondary200-color);
            }
        }
        a.active{
            background-color: var(--neutral-secondary200-color);
        }
}